@model LotteryChecker.Common.Models.Http.Data<LotteryChecker.Common.Models.ViewModels.UserVm>

@{
    ViewData["Title"] = "Quản lý người dùng";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";

    var messages = (TempData["Messages"] ?? "").ToString();
    var errors = (TempData["Errors"] ?? "").ToString();
}

@if (!string.IsNullOrEmpty(messages))
{
    @await Html.PartialAsync("MessagePopup", messages)
}
@if (!string.IsNullOrEmpty(errors))
{
    @await Html.PartialAsync("MessagePopup", errors)
}

<h1 class="position-sticky top-0">Quản lý người dùng</h1>

<div class="mt-4 d-flex justify-content-start gap-4">
    <a class="btn btn-outline-primary" asp-action="Create">Thêm mới</a>
    <form asp-action="ExportUsers" method="post">
        @foreach (var userVm in Model.Result)
        {
            <input type="hidden" name="userVms" value='@Html.Raw(Json.Serialize(userVm))'/>
        }
        <button type="submit" class="btn btn-outline-danger">Xuất file</button>
    </form>
</div>
<div class="card my-4">
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
            <tr>
                <th>Họ và tên</th>
                <th>Username</th>
                <th>Email</th>
                <th>Điện thoại</th>
                <th>Role</th>
                <th>Last Login</th>
                <th>Active</th>
                <th class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Result)
            {
                <tr>
                    <td>
                        @item.FirstName
                        @item.LastName
                    </td>
                    <td>
                        @item.UserName
                    </td>
                    <td>
                        @item.Email
                    </td>
                    <td>
                        @{
                            var itemPhoneNumber = item.PhoneNumber != null ? item.PhoneNumber : "__";
                            <span>@itemPhoneNumber</span>
                        }
                    </td>
                    <td>
                        @{
                            var itemRole = item.Role != "" ? item.Role : "__";
                            <span>@itemRole</span>
                        }
                    </td>
                    <td>
                        @{
                            var itemLastLogin = item.LastLogin != null ? item.LastLogin.ToString() : "__";
                            <span>@itemLastLogin</span>
                        }
                    </td>
                    <td>
                        @* @item.IsActive *@
                        <div class="form-check form-switch">
                            <form asp-area="Admin" asp-controller="User" asp-action="ChangeStatusUser" asp-route-id="@item.Id" asp-route-isActive="@item.IsActive" method="post">
                                <input class="form-check-input" type="checkbox" style="cursor:pointer;" checked="@item.IsActive" onchange="this.form.submit()">
                            </form>
                        </div>
                    </td>
                    <td class="justify-content-center d-flex gap-2">
                        <a class="btn btn-outline-success" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-outline-info" asp-action="Detail" asp-route-id="@item.Id">Detail</a>
                        @* <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a> *@
                    </td>
                </tr>
            }
            </tbody>
            <tfoot>
            <tr>
                <th>Họ và tên</th>
                <th>Username</th>
                <th>Email</th>
                <th>Điện thoại</th>
                <th>Role</th>
                <th>Last Login</th>
                <th>Active</th>
                <th class="text-center">Actions</th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>

@section Scripts
{
    <script>
            $(function () {
                var errorMessage = '@Html.Raw(errors)';
                var message = '@Html.Raw(messages)';
                
                if (errorMessage.length > 0) {
                    $('#errorMessageModal').modal('show');
                    setTimeout(function(){
                        $('#errorMessageModal').modal('hide');
                    }, 2000);
                }
                
                if (message.length > 0) {
                    $('#messageModal').modal('show');
                    setTimeout(function(){
                        $('#messageModal').modal('hide');
                    }, 2000);
                }
            });
        </script>
}