@model LotteryChecker.Common.Models.Http.Data<LotteryChecker.Common.Models.Entities.SearchHistoryVm>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";

    var messages = (TempData["Messages"] ?? "").ToString();
    var errors = (TempData["Errors"] ?? "").ToString();
}
@if (!string.IsNullOrEmpty(messages))
{
    @await Html.PartialAsync("MessagePopup", messages)
}
@if (!string.IsNullOrEmpty(errors))
{
    @await Html.PartialAsync("MessagePopup", errors)
}

<h1>Quản lý lịch sử tìm kiếm</h1>

<p class="mt-4">
    @*     <a class="btn btn-outline-primary" asp-action="Create">Thêm mới</a> *@
</p>
<div class="card my-4">
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
            <tr>
                <th>Số vé</th>
                <th>Ngày quay</th>
                <th>Ngày tìm kiếm</th>
                <th>Email người dùng</th>
                <th class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Result)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LotteryNumber)
                    </td>
                    <td>
                        @item.DrawDate.ToString("dd-MM-yyyy")
                    </td>
                    <td>
                        @item.SearchDate.ToString("dd-MM-yyyy")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td class="justify-content-center d-flex gap-2">
                        <a class="btn btn-outline-info" asp-action="Detail" asp-route-Id="@item.SearchHistoryId">Detail</a>
                        @* <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a> *@
                    </td>
                </tr>
            }
            </tbody>
            <tfoot>
            <tr>
                <th>Số vé</th>
                <th>Ngày quay</th>
                <th>Ngày tìm kiếm</th>
                <th>Email người dùng</th>
                <th class="text-center">Actions</th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>

@section Scripts
{
    <script>
            $(function () {
                var errorMessage = '@Html.Raw(errors)';
                var message = '@Html.Raw(messages)';
                
                if (errorMessage.length > 0) {
                    $('#errorMessageModal').modal('show');
                    setTimeout(function(){
                        $('#errorMessageModal').modal('hide');
                    }, 2000);
                }
                
                if (message.length > 0) {
                    $('#messageModal').modal('show');
                    setTimeout(function(){
                        $('#messageModal').modal('hide');
                    }, 2000);
                }
            });
        </script>
}