@* @model IEnumerable<LotteryChecker.Common.Models.Entities.LotteryVm> *@
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model LotteryChecker.Common.Models.Http.Data<LotteryChecker.Core.Entities.PurchaseTicket>


@{
    ViewData["Title"] = "Quản lý vé mua";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    var pageStart = (Model.Meta.Page - 1) * Model.Meta.PageSize + 1;
    var pageEnd = Model.Meta.Page * Model.Meta.PageSize;
    var prevPage = Model.Meta.Page - 1;
    var nextPage = Model.Meta.Page + 1;

    var messages = (TempData["Messages"] ?? "").ToString();
    var errors = (TempData["Errors"] ?? "").ToString();
    var userEmail = ViewBag.UserEmail?.ToString();
}
@if (!string.IsNullOrEmpty(messages))
{
    @await Html.PartialAsync("MessagePopup", messages)
}
@if (!string.IsNullOrEmpty(errors))
{
    @await Html.PartialAsync("MessagePopup", errors)
}

<h1>Quản lý vé mua</h1>
<div class="card my-4">
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>

            <tr>
                <th>Email</th>
                <th>Số vé</th>
                <th>Ngày quay thưởng</th>
                <th>Ngày mua vé</th>
                <th class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Result?.OrderBy(pt => pt.DrawDate))
            {
                <tr>
                    <td>
                        @userEmail
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LotteryNumber)
                    </td>
                    <td>
                        @item.DrawDate.ToString("dd-MM-yyyy")
                    </td>
                    <td>
                        @item.PurchaseDate?.ToString("dd-MM-yyyy")
                    </td>

                    <td class="justify-content-center d-flex gap-2">
                        <a class="btn btn-outline-success" asp-action="Edit" asp-route-Id="@item.PurchaseTicketId">Edit</a>
                        <a class="btn btn-outline-info" asp-action="Detail" asp-route-Id="@item.PurchaseTicketId">Detail</a>
                    </td>
                </tr>
            }
            </tbody>
            <tfoot>

            <tr>
                <th>Id người dùng</th>
                <th>Số vé</th>
                <th>Ngày quay thưởng</th>
                <th>Ngày mua vé</th>
                <th class="text-center">Actions</th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>

@section Scripts
{
    <script>
        $(function () {
            var errorMessage = '@Html.Raw(errors)';
            var message = '@Html.Raw(messages)';

            if (errorMessage.length > 0) {
                $('#errorMessageModal').modal('show');
                setTimeout(function () {
                    $('#errorMessageModal').modal('hide');
                }, 2000);
            }

            if (message.length > 0) {
                $('#messageModal').modal('show');
                setTimeout(function () {
                    $('#messageModal').modal('hide');
                }, 2000);
            }
        });
    </script>
}