@* @model IEnumerable<LotteryChecker.Common.Models.Entities.LotteryVm> *@
@using System.Globalization
@model LotteryChecker.Common.Models.Http.Data<LotteryChecker.Common.Models.Entities.LotteryVm>


@{
    ViewData["Title"] = "Quản lý vé dò";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    var messages = (TempData["Messages"] ?? "").ToString();
    var errors = (TempData["Errors"] ?? "").ToString();
}

@if (!string.IsNullOrEmpty(messages))
{
    @await Html.PartialAsync("MessagePopup", messages)
}
@if (!string.IsNullOrEmpty(errors))
{
    @await Html.PartialAsync("MessagePopup", errors)
}

<h1>Quản lý vé dò</h1>

<p class="mt-4">
    <a class="btn btn-outline-primary" asp-action="Create">Thêm mới</a>
</p>
<div class="card my-4">
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>

            <tr>
                <th>Tên giải</th>
                <th>Số vé</th>
                <th>Ngày quay</th>
                <th>Ngày phát hành</th>
                <th>Published</th>
                <th>Công ty</th>
                <th>Giá trị</th>
                <th class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Result)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RewardName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LotteryNumber)
                    </td>
                    <td>
                        @item.DrawDate.ToString("dd-MM-yyyy")
                    </td>
                    <td>
                        @item.PublishDate.ToString("dd-MM-yyyy")
                    </td>
                    <td class="text-center">
                        @* @Html.DisplayFor(modelItem => item.IsPublished) *@
                        <div class="form-check form-switch">
                            <form asp-area="Admin" asp-controller="Lottery" asp-action="ChangePublishedLottery" asp-route-id="@item.LotteryId" asp-route-isPublished="@item.IsPublished" method="post">
                                <input class="form-check-input" type="checkbox" style="cursor:pointer;" checked="@item.IsPublished" onchange="this.form.submit()">
                            </form>
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Company)
                    </td>
                    <td>
                        @item.RewardValue?.ToString("N0", new CultureInfo("vi-VN")) VND
                    </td>
                    <td class="justify-content-center d-flex gap-2">
                        <a class="btn btn-outline-success" asp-action="Edit" asp-route-Id="@item.LotteryId">Edit</a>
                        <a class="btn btn-outline-info" asp-action="Detail" asp-route-Id="@item.LotteryId">Detail</a>
                        @* <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a> *@
                    </td>
                </tr>
            }
            </tbody>
            <tfoot>

            <tr>
                <th>Tên giải</th>
                <th>Số vé</th>
                <th>Ngày quay</th>
                <th>Ngày phát hành</th>
                <th>Published</th>
                <th>Công ty</th>
                <th>Giá trị</th>
                <th class="text-center">Actions</th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>

@section Scripts
{
    <script>
            $(function () {
                var errorMessage = '@Html.Raw(errors)';
                var message = '@Html.Raw(messages)';
                
                if (errorMessage.length > 0) {
                    $('#errorMessageModal').modal('show');
                    setTimeout(function(){
                        $('#errorMessageModal').modal('hide');
                    }, 2000);
                }
                
                if (message.length > 0) {
                    $('#messageModal').modal('show');
                    setTimeout(function(){
                        $('#messageModal').modal('hide');
                    }, 2000);
                }
            });
        </script>
}